.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    max-width: 200px;
  }
  
  .card-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }
  
  .card-content {
    font-size: 14px;
  }

  .card-container {
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .card-container::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .card-container:hover::before {
    opacity: 1;
  }

  .card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    white-space: nowrap;
    z-index: 10;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
  }

  .card-container:hover .overlay-content {
    opacity: 1;
  }
  .overlay-icons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: white;
  }

  .overlay-icons img {
    max-width: 30px;
    max-height: 30px;
  }
  