.container {
  text-align: center;
}

.centered-text {
  text-align: center;
}

.mt-2 {
  margin-top: 0.5rem;
}

.spacer {
  margin-top: 1rem;
}

.mt-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

custom-input {
  width: 300px;
  max-width: 100%;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;

}