<div class="container">
    <p class="centered-text animate-pulse text-2xl">Welcome to Candidate Selector!</p>
    <form [formGroup]="loginForm" class="form-container">
        <div class="input-wrapper">
            <input type="text" id="username" class="custom-input" formControlName="username" placeholder=" ">
            <span class="placeholder-text"> Enter Username</span>
            <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                <small class="error-text">Username is required</small>
            </div>
        </div>
        <div class="input-wrapper" *ngIf="showPassword">
            <input type="password" id="password" class="custom-input" formControlName="password" placeholder=" ">
            <span class="placeholder-text"> Enter Password</span>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small class="error-text">Password is required</small>
            </div>
        </div>
        <button type="button" class="submit-btn" (click)="togglePassword()">Sign in as Admin</button>
        <button type="button" class="submit-btn" (click)="confirmMemberSignIn()">Continue as General Member</button>
        <button type="button" class="submit-btn" *ngIf="showPassword" (click)="confirmAdminSignIn()">Confirm Sign
            In</button>
    </form>
</div>