<body>
    <div class="spacer-padding"></div>
    <div class="header-container">
        <p class="centered-inline-text animate-pulse rounded-full p-2 bg-teal-400">Welcome&nbsp; <span
                class="replacement-text">{{memberName}}</span></p>
    </div>

    <!-- <div class="spacer-padding"></div> -->

    <div class="center-container">
        <ng-container *ngFor="let card of cards">
            <app-card [title]="card.title" [content]="card.content"></app-card>
        </ng-container>
    </div>
</body>