html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.replacement-text {
    text-decoration: underline;;
}

.centered-inline-text {
    text-align: center;
    margin: 0;
    display: inline-block;
  }

.center-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 0;
    padding: 20px;
    width: 100%;
}

.spacer-padding {
    height: 100px;
}

.card {
    flex: 1 1 calc(33.333% - 32px);
    max-width: calc(33.333% - 32px);
    box-sizing: border-box;
    padding: 16px;
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
}